:root {
  --House-Arryn: rgb(189, 25, 25);
  --House-Velaryon: rgb(26, 61, 156);
  --House-Baratheon: rgb(83, 131, 24);
  --House-Greyjoy: rgb(189, 25, 132);
  --House-Martell: rgb(109, 70, 12);
  --Blacks: rgb(123, 123, 123);
  --House-Hightower: rgb(193, 108, 29);
  --House-Tyrell: rgb(53, 71, 174);
  --House-Lannister: rgb(24, 131, 51);
  --House-Stark: rgb(216, 178, 39);
  --House-Targaryen: rgb(189, 55, 25);
  --House-Frey: rgb(56, 134, 151);
}
