:root {
  --off-white: #eeeeee;
  --off-white-70: #eeeeeebb;
  --off-white-50: #eeeeee55;
  --off-white-30: #eeeeee33;
  --off-white-10: #eeeeee11;

  --off-black: #101010;
  --off-black-50: hsla(0, 0%, 6%, 0.5);
  --off-black-10: hsla(0, 0%, 6%, 0.1);

  --home-yellow: rgba(208, 169, 52, 1);
  --home-yellow-80: rgba(208, 169, 52, 0.8);
  --home-yellow-40: rgba(208, 169, 52, 0.4);

  --home-green-90: rgba(20, 117, 110, 0.9);
  --home-green-50: rgba(20, 117, 110, 0.5);
  --home-green-light: rgb(195, 233, 231);

  --home-blue-90: rgba(8, 56, 119, 0.9);
  --home-blue-50: rgba(8, 56, 119, 0.5);
}
