// @font-face {
//   font-family: AnnieUseYourTelescope;
//   src: url('@/assets/fonts/AnnieUseYourTelescope-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: LoveYaLikeASister;
//   src: url('@/assets/fonts/LoveYaLikeASister-Regular.ttf') format('truetype');
// }

@font-face {
  font-family: WaitingfortheSunrise;
  src: url('@/assets/fonts/WaitingfortheSunrise-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('@/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url('@/assets/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: Poppins;
  src: url('@/assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
