@import './base.css';
@import './colors.scss';

@font-face {
  font-family: AnnieUseYourTelescope;
  src: url('@/assets/fonts/AnnieUseYourTelescope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: LoveYaLikeASister;
  src: url('@/assets/fonts/LoveYaLikeASister-Regular.ttf') format('truetype');
}

@font-face {
  font-family: WaitingfortheSunrise;
  src: url('@/assets/fonts/WaitingfortheSunrise-Regular.ttf') format('truetype');
}
