@font-face {
  font-family: Jomhuria;
  src: url('@/assets/fonts/Jomhuria-Regular.ttf') format('truetype');
}

@font-face {
  font-family: VinaSans;
  src: url('@/assets/fonts/VinaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: PPG;
  src: url('@/assets/fonts/PPG-Regular.ttf') format('truetype');
}
