.theme-view {
  // Indo food

  --spice-garlic: rgb(214, 205, 187);

  --spice-46: rgb(46, 19, 8);
  --spice-183: rgb(183, 126, 102);
  --spice-232: rgb(232, 194, 162);
  --spice-157: rgb(157, 95, 74);
  --spice-130: rgb(130, 69, 51);
  --spice-22: rgb(22, 10, 6);
  --spice-75: rgb(75, 29, 17);
  --spice-209: rgb(209, 160, 131);
  --spice-103: rgb(103, 47, 32);
  --spice-250: rgb(250, 232, 203);

  --spice-spring-onion: rgb(124, 175, 46);
  --spice-onion: rgb(174, 111, 56);

  --spice-kaffir-lime-leaf: rgb(74, 118, 62);
  --spice-kaffir-lime-leaf-dark: rgb(48, 72, 31);
  --spice-daunjeruk: var(--spice-kaffir-lime-leaf);

  --spice-chili: rgb(165, 34, 29);
  --spice-chili-dark: rgb(31, 21, 19);
  --spice-cabe-cabai-rawit: var(--spice-chili);

  --spice-chili-pepper: rgb(215, 42, 49);
  --spice-chili-pepper-light: var(--spice-chili-pepper);

  --spice-pepper: rgb(200, 184, 167);
  --spice-pepper-dark: rgb(42, 32, 28);
  --spice-lada-merica: var(--spice-pepper);

  --spice-ginger: rgb(220, 185, 61);
  --spice-ginger-dark: rgb(53, 29, 17);
  --spice-jahe: var(--spice-ginger);

  --spice-bay-leaf: rgb(62, 91, 29);
  --spice-bay-leaf-dark: rgb(39, 38, 29);
  --spice-salam: var(--spice-bay-leaf);

  --spice-230: rgb(230, 209, 192);

  --spice-turmeric: rgb(225, 123, 10);
  --spice-turmeric-dark: rgb(73, 60, 51);
  --spice-kunyit: var(--spice-turmeric);

  --spice-candlenut: rgb(224, 184, 138);
  --spice-candlenut-dark: rgb(50, 19, 12);
  --spice-kemiri: var(--spice-candlenut);

  --spice-coriander: rgb(179, 120, 69);
  --spice-coriander-dark: rgb(56, 31, 18);
  --spice-ketumbar: var(--spice-coriander);

  --spice-237: rgb(237, 226, 204);

  --spice-galangal: rgb(246, 220, 167);
  --spice-galangal-dark: rgb(111, 50, 31);
  --spice-lengkuas-laos: var(--spice-galangal);

  --spice-coconut: rgb(228, 219, 210);
  --spice-coconut-dark: rgb(54, 37, 30);
  --spice-kelapa-santan: var(--spice-coconut);

  --spice-lemongrass: rgb(179, 177, 89);
  --spice-lemongrass-dark: rgb(27, 31, 25);
  --spice-serai-sereh: var(--spice-lemongrass);

  --spice-tamarind: rgb(55, 29, 23);
  --spice-tamarind-dark: rgb(20, 13, 19);
  --spice-asam: var(--spice-tamarind);

  --spice-nutmeg: rgb(142, 78, 58);
  --spice-nutmeg-dark: rgb(38, 33, 28);
  --spice-pala: var(--spice-nutmeg);

  --spice-peanut:rgb(86, 57, 40);
  --spice-peanut-dark: rgb(52, 42, 33);
  --spice-kacang: var(--spice-peanut);

 
  // --spice-peanut: rgb(238, 213, 159);
  //  --spice-peanut: rgb( 52, 42, 33);
  //  --spice-peanut: rgb(157, 112, 70);
  //  --spice-peanut: rgb(108, 88, 66);
  //  --spice-peanut: rgb(188, 143, 92);
  //  --spice-peanut: rgb(248, 245, 215);
  //  --spice-peanut: rgb( 25, 25, 23);
  //  --spice-peanut: rgb( 86, 57, 40);
  //  --spice-peanut: rgb(132, 75, 42);
  //  --spice-peanut: rgb(219, 177, 116);

  --bg-1: rgb(81, 104, 99);
  --bg-2: rgb(15, 60, 48);

  --bg-1-70: rgba(81, 104, 99, 0.7);
  --bg-2-70: rgba(15, 60, 48, 0.7);
}

.theme-view.culture {
  background-image: linear-gradient(0deg, var(--bg-1), var(--bg-2) calc(100% - 5rem)) !important;
}
.culture-page {
  background-image: linear-gradient(0deg, var(--bg-1), var(--bg-2));
}

.spice-link {
  --line-color: var(--spice-coconut-dark);
  
    @include underline-hover;
  
    color: var(--spice-coconut-dark);
    position: relative;
    font-weight: 700;
    transition: color 0.3s;
}